{{ define "main" }}

<div class="container">
  <header class="small">
    <a class="title" href="/">{{ .Site.Title }}</a>
  </header>

  <div id="intro">
    <h2>si.mpli.st is<br />a tiny little journal<br />by minku lee.</h2>
    <p>매일매일의 일상을 되돌아보고 싶을 때, 흥미 있는 무언가를 탐구해보았을 때, 관심 가는 물건을 사용해 보았을 때, 어딘가로 훌쩍 다녀온 작은 기억을 남기고 싶을때. 기억에 남는, 기억에 남기고 싶은 그 무언가를 여기에 적어보곤 합니다.</p>
  </div>

  <div id="index">
    <ul class="posts">
      {{ range (.Paginator 3).Pages }}
        <li class="category-{{ .Section }}">
          <div class="info">
            <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
            <span class="meta">
              <span>{{ .Section }}</span>
              <span>{{ .Date }}</span>
            </span>
          </div>
          <div class="summary">
            <p>{{ .Description }}</p>
          </div>
        </li>
      {{ end }}
    </ul>
  </div>


  <div id="pagination" class="pagination">
    {{ if .Paginator.HasPrev }}
      <p><a href="{{ .Paginator.Prev.URL }}">newer</a></p>
    {{ else }}
      <p class="prev disabled">
        <span>newer</span>
      </p>
    {{ end }}

    <p class="page-count">
      {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}
    </p>

    {{ if .Paginator.HasNext }}
      <p><a href="{{ .Paginator.Next.URL }}">older</a></p>
    {{ else }}
      <p class="prev disabled">
        <span>older</span>
      </p>
    {{ end }}
  </div>
</div>

{{ end }}
