---
layout: default
title: si.mpli.st
type: home
---

<header>
  <h1 class="title"><a href="/">{{ site.name }}</a></h1>
  <span class="author">by {{ site.author }}</span>
</header>

<div id="index">

  <ul class="posts">
    {% for post in paginator.posts %}
      <li class="category-{{ post.category }}">
		  <a href="{{ post.url }}">
			  <span class="category">{{ post.category }}</span>
			  <span class="title">{{ post.title }}</span>
			  <span class="time">{{ post.date | date_to_string }}</span>
		  </a>
	  </li>
    {% endfor %}
  </ul>
</div>

<div id="pagination" class="pagination">
  {% if paginator.previous_page %}
    <p class="prev">
      {% if paginator.previous_page == 1 %}
        <a href="/">newer</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}">newer</a>
      {% endif %}
    </p>
  {% else %}
    <p class="prev disabled">
      <span>newer</span>
    </p>
  {% endif %}

  <p class="page-count">
   {{ paginator.page }} of {{ paginator.total_pages }}
  </p>

  {% if paginator.next_page %}
    <p class="next">
      <a href="{{ paginator.next_page_path }}">older</a>
    </p>
  {% else %}
    <p class="next disabled">
      <span>older</span>
    </p>
  {% endif %}

</div>
