{{ $path_prefix := "https://premist-public.objects.polychrome.network/images/" }}

{{ $path := (.Get "path") }}
{{ $class := (.Get "class") }}
{{ $alt := (.Get "alt") }}
{{ $attr := (.Get "attr") }}

{{ $image := index $.Site.Data.image_manifest $path }}

{{/* AVIF standard begin */}}
{{/* sRGB + original */}}
{{ $standard_avif := slice }}
{{ range where (where $image "color_profile" "srgb") "extension" ".avif" }}
  {{ $standard_avif = $standard_avif | append . }}
{{ end }}
{{ range where (where $image "color_profile" "original") "extension" ".avif" }}
  {{ $standard_avif = $standard_avif | append . }}
{{ end }}
{{/* AVIF standard end */}}

{{/* JPG standard begin */}}
{{/* sRGB + original */}}
{{ $standard_jpg := slice }}
{{ range where (where $image "color_profile" "srgb") "extension" ".jpg" }}
  {{ $standard_jpg = $standard_jpg | append . }}
{{ end }}
{{ range where (where $image "color_profile" "original") "extension" ".jpg" }}
  {{ $standard_jpg = $standard_jpg | append . }}
{{ end }}
{{/* JPG standard end */}}

{{/* AVIF Display P3 begin */}}
{{ $displayp3_avif := slice }}
{{ range where (where $image "color_profile" "displayp3") "extension" ".avif" }}
  {{ $displayp3_avif = $displayp3_avif | append . }}
{{ end }}
{{/* AVIF Display P3 end */}}

{{/* non-modified original begin */}}
{{ $original := index (where $image "original" true) 0 }}
{{/* non-modified original end */}}

<figure class="{{ $class }}">
  <picture>

    {{ with $displayp3_avif }}
      <source type="image/avif"
        media="(color-gamut: p3)"
        srcset="
          {{ range $displayp3_avif }}
            {{ $path_prefix }}{{ .path }} {{ .width }}w,
          {{ end }}">
    {{ end }}

    {{ with $standard_avif }}
      <source type="image/avif"
        srcset="
          {{ range $standard_avif }}
            {{ $path_prefix }}{{ .path }} {{ .width }}w,
          {{ end }}">
    {{ end }}

    {{ with $standard_jpg }}
      <source type="image/jpg"
        srcset="
          {{ range $standard_jpg }}
            {{ $path_prefix }}{{ .path }} {{ .width }}w,
          {{ end }}">
    {{ end }}

    {{ with $original }}
    <img src="{{ $path_prefix }}{{ index $original "path" }}" alt="{{ $alt }}" decoding="async">
    {{ else }}
      <img src="{{ $path_prefix }}{{ index $standard_jpg 0 "path" }}" alt="{{ $alt }}" decoding="async">
    {{ end }}
  </picture>

  {{ with $attr }}
    <figcaption>
      <p>{{ $attr | safeHTML }}</p>
    </figcaption>
  {{ end }}
</figure>
