{{ define "main" }}

<div class="container">
  {{ partial "header.html" (dict "Context" . "Subtitle" "archive") }}

  {{ $paginator := .Paginate (.Site.RegularPages) }}

  <div id="archive" class="index final-section">
    <ul class="posts">
      {{ range $paginator.Pages }}
        {{ partial "list-post.html" . }}
      {{ end }}
    </ul>
  </div>

  <footer>
    <p class="page-count">
      {{ .Paginator.PageNumber }} 페이지
    </p>

    <div class="pages">
      {{ $currentPage := .Paginator.PageNumber }}
      {{ range .Paginator.Pagers }}

        {{ if eq .PageNumber $currentPage }}
          <a class="current">{{ .PageNumber }}</a>
        {{ else }}
          <a class="other-page" href="{{ .URL }}">{{ .PageNumber }}</a>
        {{ end }}

      {{ end }}
    </div>
  </footer>

</div>

{{ end }}
