/*
  si.mpli.st v4
  main stylesheet
  by minku lee
*/

@import "fonts/lab-grotesque";
@import "fonts/gothic-a1";

/* reset5 © 2011 opensource.736cs.com MIT */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}nav ul{list-style:none;}ol{list-style:decimal;}ul{list-style:disc;}ul ul{list-style:circle;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:underline;}del{text-decoration:line-through;}mark{background:none;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input[type=submit],input[type=button],button{margin:0!important;padding:0!important;}input,select,a img{vertical-align:middle;}

$container-width: 1024px;
$container-top-bottom-margin: 30px;

$container-mobile-left-right-margin: 30px;

$primary-color: #4c4c4c;
$link-color: #888;

$primary-font: "LabGrotesque-Medium", "Gothic A1 Medium", "Noto Sans CJK KR", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "Dotum", sans-serif;
$syntax-highlighting-font: "Menlo", "Monaco", "Liberation Mono", Consolas, Courier, monospace;

$primary-font-weight: 600;
$subtitle-font-weight: 400;
$title-font-weight: 700;

$main-title-font-size: 36px;
$main-author-font-size: 12px;

$index-item-font-size: 20px;
$index-item-height: 45px;

$post-title-font-size: 26px;

$uppercase-letter-spacing: 0.05em;

$toolarge-width: 1680px;

/* Category Colors */
$cat-color-dev: #3498db;
$cat-color-geek: #2980b9;
$cat-color-life: #f39c12;
$cat-color-think: #1abc9c;
$cat-color-review: #e74c3c;
$cat-color-travel: #9b59b6;
$cat-color-video: #ec407a;

$mq-mobile: "(max-width: 820px)";
$mq-toolarge: "(min-width: #{$toolarge-width})";

@mixin oversize-support {
  width: 100vw;
  margin-left: calc((100vw - #{$container-width}) * -0.5);
  margin-top: 3em;
  margin-bottom: 3em;

  @media #{$mq-toolarge} {
    width: $toolarge-width;
    margin-left: calc((#{$toolarge-width} - #{$container-width}) * -0.5);
  }

  @media #{$mq-mobile} {
    width: 100%;
    margin-left: 0;
  }
}

/* Common */
body {
  font-family: $primary-font;
  font-weight: $primary-font-weight;
  color: $primary-color;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: $container-width;
  margin: $container-top-bottom-margin auto;

  @media #{$mq-mobile} {
    width: auto;
    margin: $container-top-bottom-margin 0;
    padding: 0 $container-mobile-left-right-margin;
  }
}

/* Common Header */
header {

  & h1 {
    font-size: $main-title-font-size;
    font-weight: $title-font-weight;
    letter-spacing: -0.02em;
    line-height: 2em;
  }

  & a {
    color: $primary-color;
    text-decoration: none;
  }

  & .author {
    font-size: $main-author-font-size;
    font-weight: $subtitle-font-weight;
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: $uppercase-letter-spacing;
  }

}

.category-dev .category, .category-dev:hover .title,
.post-dev .title-cat, .post-dev h2 a, .post-dev .content a {
  color: $cat-color-dev;
}

.category-geek .category, .category-geek:hover .title,
.post-geek .title-cat, .post-geek h2 a, .post-geek .content a {
  color: $cat-color-geek;
}

.category-life .category, .category-life:hover .title,
.post-life .title-cat, .post-life h2 a, .post-life .content a {
  color: $cat-color-life;
}

.category-think .category, .category-think:hover .title,
.post-think .title-cat, .post-think h2 a, .post-think .content a {
  color: $cat-color-think;
}

.category-review .category, .category-review:hover .title,
.post-review .title-cat, .post-review h2 a, .post-review .content a {
  color: $cat-color-review;
}

.category-travel .category, .category-travel:hover .title,
.post-travel .title-cat, .post-travel h2 a, .post-travel .content a {
  color: $cat-color-travel;
}

.category-video .category, .category-video:hover .title,
.post-video .title-cat, .post-video h2 a, .post-video .content a {
  color: $cat-color-video;
}

/* Index listing */
#index {
  position: relative;
  display: block;
  margin: $container-top-bottom-margin 0;

  & ul {
    list-style-type: none;
  }

  & li {
    display: block;
    padding: ($index-item-height - $index-item-font-size)/2 0;
  }

  & a {
    display: block;
    color: $primary-color;
    text-decoration: none;
  }

  & .category {
    display: block;
    width: 100px;
    float: left;

    line-height: $index-item-font-size;
    font-size: $index-item-font-size * 0.6;
    font-family: $primary-font;
    text-transform: uppercase;
    letter-spacing: $uppercase-letter-spacing;

    @media #{$mq-mobile} {
      float: none;
      margin-bottom: 0.5em;
    }
  }

  & .title {
    font-size: $index-item-font-size;
    transition: all .15s ease-out;

    @media #{$mq-mobile} {
      line-height: 1.4em;
    }
  }

  & .time {
    display: none;
  }
}

/* Index pagination */
#pagination {
  & p {
    float: left;
    margin-right: 10px;
  }

  & p, & a {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: $uppercase-letter-spacing;
  }

  & a {
    color: $link-color;
    text-decoration: none;
  }

  & a:hover {
    color: $primary-color;
  }
}

/* Post specific header configuration */
header.small {
  & .title {
    font-size: $main-title-font-size / 2;
    line-height: 2em;
    margin-top: $main-title-font-size / 4;
    margin-left: 1px;
  }

  & .title-cat {
    margin-left: 2px;
  }

  & .author { display: none; }
}

/* Post Layout */
article {
  & h2 {
    font-size: 40px;
    color: #000;
    font-family: 'Lab Grotesque Medium', 'Gothic A1 SemiBold';
    text-rendering: optimizeLegibility;
    word-break: keep-all;
    word-wrap: break-word;
    font-weight: 400;
    line-height: 1.4em;

    margin-top: $post-title-font-size * 2;
    margin-bottom: $post-title-font-size / 2;

    & a {
      text-decoration: none;
    }
  }

  & .meta {
    display: block;
    margin-bottom: $post-title-font-size * 2;
  }

  & .meta a {
    font-size: 0.8em;
    color: $primary-color;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.content {
  font-size: 20px;
  color: #000;
  font-family: 'Lab Grotesque Regular', 'Gothic A1 Medium';
  text-rendering: optimizeLegibility;
  word-break: keep-all;
  word-wrap: break-word;
  font-weight: 400;
  line-height: 2em;

  color: #222;

  & p, & ul, & figure {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  & h1, & h2, & h3, & h4, & h5, & h6 {
    font-size: 26px;
    font-family: 'Lab Grotesque Bold', 'Gothic A1 Bold';
    font-weight: 400;

    margin-top: 5em;
    margin-bottom: 1em;
    line-height: 1.4em;
  }

  & figure {
    & h4 {
      font-weight: normal;
      margin: 0;
    }
  }

  & img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media #{$mq-mobile} {
      width: calc(100% + #{$container-mobile-left-right-margin} * 2);
      margin-left: $container-mobile-left-right-margin * -1;
    }
  }

  & figure.halfsize {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  & figcaption {
    margin-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
    font-size: 0.9em;
    line-height: 1.5em;
    color: #888;
  }

  & .gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    @media #{$mq-mobile} {
      & { display: inherit; }
    }

    & figure {
      object-fit: contain;
      padding-right: 20px;

      @media #{$mq-mobile} {
        & {
          object-fit: none;
          padding-right: 0px;
        }
      }
    }

    & figure:last-child {
      padding-right: 0px;
    }
  }

  .oversize figcaption {
    padding: 0 20px;

    @media #{$mq-mobile} {
      & { padding: 0; }
    }
  }

  // Oversize support

  & figure.oversize {
    @include oversize-support;
  }

  & .gallery.oversize {
    @include oversize-support;
  }

  & ul {
    list-style: none;
  }

  & li {
    margin-bottom: 0.5em;
  }

  & li:before {
    content: "∙ ";
  }

  & a {
    text-decoration: none;
  }

  & iframe, & twitterwidget, & twitter-widget {
    display: block;
    margin: 1.2em auto !important;
  }

  & code {
    font-family: $syntax-highlighting-font;
    font-size: 0.9em;
  }

  & .highlight {
    padding: 10px;
    background-color: #fafafa;
    overflow: scroll;
  }

  & blockquote {
    border-left: 4px solid $primary-color;
    padding-left: 15px;
  }

  & table {
    position: relative;
    margin: 0 auto 1.8em auto;
  }

  & thead {
    border-bottom: 1px solid #ccc;
  }

  & th, & td {
    padding: 5px 10px;
  }

  & hr {
    margin: 4em 0;
  }
}
