.index {
  margin-top: 4rem;
  margin-bottom: 3rem;

  @media #{$mq-mobile} {
    margin-top: 3rem;
    margin-bottom: 2.5rem;
  }
}

.posts li {
  display: flex;
  justify-content: space-between;
  gap: 4rem;

  margin-bottom: 3.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  @media #{$mq-mobile} {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;
  }

  & .info {
    flex-basis: 26%;

    & .title {
      display: block;
      margin-bottom: 0.2rem;

      font-family: $bold-font;
    }

    & .meta {
      display: flex;
      gap: 0.8rem;

      font-family: $semibold-font;
      text-transform: capitalize;

      color: $caption-color;
    }
  }

  & .summary {
    flex-basis: 74%;
  }
}

.final-section {
  margin-bottom: 6rem;

  @media #{$mq-mobile} {
    margin-bottom: 6rem;
  }
}


// Archive-specific

#archive {
  min-height: 60vh;
  margin-top: 7rem;

  @media #{$mq-mobile} {
    margin-top: 3.5rem;
  }
}

.pages {
  display: flex;
  gap: 0.7rem;

  & a {
    width: 2rem;
  }

  & .other-page {
    @include blend-link;
  }

  & .current {
    color: $caption-color;
  }
}
