$container-width: 1024px;

// Fonts
$force-font-weight: 400;

$primary-font: "Lab Grotesque Regular", "Gothic A1 Medium", "Helvetica", "Arial", "Noto Sans CJK KR", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;

$semibold-font: 'Lab Grotesque Medium', 'Gothic A1 SemiBold', "Helvetica", "Arial", "Noto Sans CJK KR", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
$bold-font: 'Lab Grotesque Bold', 'Gothic A1 Bold',  "Helvetica", "Arial", "Noto Sans CJK KR", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;

$syntax-highlighting-font: "IBM Plex Mono", "Menlo", "Monaco", "Liberation Mono", Consolas, Courier, monospace;


// Typography
$font-size: 1.25rem;
$mobile-font-size: $font-size * 0.86;


$line-height: 2em;
$mobile-line-height: 2.1em;

$content-line-height: 2.1em;
$mobile-content-line-height: 2.1em;


// Colors
$primary-color: #222;
$bold-color: #000;
$caption-color: #888;
$light-color: #ccc;
$lighter-color: #dfdfdf;
$lightest-color: #fdfdfd;

$neutral-link-color: #999;
$temp-color: #009EC9;


// Viewports
$mq-mobile: "(max-width: 1064px)";

$toolarge-width: 1920px;
$mq-toolarge: "(min-width: #{$toolarge-width})";

// Mobile overrides
$mobile-topbottom-margin: 1rem;
$mobile-leftright-margin: 1.6rem;
