$container-width: 1024px;

$force-font-weight: 400;

$primary-font: "Lab Grotesque Regular", "Gothic A1 Medium", "Helvetica", "Arial", "Noto Sans CJK KR", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
$primary-font-size: 1.25rem;

$semibold-font: 'Lab Grotesque Medium', 'Gothic A1 SemiBold', "Helvetica", "Arial", "Noto Sans CJK KR", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
$bold-font: 'Lab Grotesque Bold', 'Gothic A1 Bold',  "Helvetica", "Arial", "Noto Sans CJK KR", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;

$syntax-highlighting-font: "Menlo", "Monaco", "Liberation Mono", Consolas, Courier, monospace;

$primary-color: #222;
$bold-color: #000;
$caption-color: #888;
$light-color: #ccc;

$temp-color: #009EC9;

$mq-mobile: "(max-width: 820px)";
