$container-width: 1024px;

// Fonts
$primary-font-weight: 400;

$font: "Lab Grotesque", "Gothic A1 LabGrtsqMatch", "Helvetica", "Arial", "Noto Sans CJK KR", "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$syntax-highlighting-font: "Fira Code", "Menlo", "Monaco", "Liberation Mono", Consolas, Courier, monospace;


// Typography
$font-size: 1.15rem;
$mobile-font-size: $font-size * 0.86;


$line-height: 2em;
$mobile-line-height: 2em;

$content-line-height: 2em;
$mobile-content-line-height: 2em;


// Colors
$primary-color: #222;
$bold-color: #000;
$caption-color: #888;
$light-color: #ccc;
$lighter-color: #dfdfdf;
$lightest-color: #fdfdfd;

$neutral-link-color: #999;
$temp-color: #009EC9;


// Viewports
$mq-mobile: "(max-width: 1064px)";

$toolarge-width: 1920px;
$mq-toolarge: "(min-width: #{$toolarge-width})";

// Mobile overrides
$mobile-topbottom-margin: 1rem;
$mobile-leftright-margin: 1.6rem;
