<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ template "_internal/opengraph.html" . }}
    <meta property="article:author" content="{{ .Site.Params.AuthorFacebook }}">
    {{ template "_internal/twitter_cards.html" . }}

    <link rel="stylesheet" href="https://fonts.premi.st/ofl/ibm-plex-mono/IBMPlexMono-Bold.css">
    <link rel="stylesheet" href="https://fonts.premi.st/ofl/ibm-plex-mono/IBMPlexMono-Regular.css">
    <link rel="stylesheet" href="https://fonts.premi.st/ofl/Gothic A1 Medium.css">
    <link rel="stylesheet" href="https://fonts.premi.st/ofl/Gothic A1 SemiBold.css">
    <link rel="stylesheet" href="https://fonts.premi.st/ofl/Gothic A1 Bold.css">
    <link rel="stylesheet" href="https://fonts.premi.st/lfs/Lab Grotesque.css">

    {{ $mainSass := resources.Get "styles/main.scss" }}
    {{ $mainStyle := $mainSass | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $mainStyle.Permalink }}">

    <script async defer data-website-id="4cdb476c-5519-4742-9fcb-639cd24fe89d" src="https://umami.sapbox.me/umami.js"></script>
  </head>

  <body>
