<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ template "_internal/opengraph.html" . }}
    <meta property="article:author" content="{{ .Site.Params.AuthorFacebook }}">

    <link rel="preload" as="style" href="https://o.polychrome.network/fonts/ofl/Fira Code.css">
    <link rel="preload" as="style" href="https://o.polychrome.network/fonts/ofl/Gothic A1 Medium.css">
    <link rel="preload" as="style" href="https://o.polychrome.network/fonts/ofl/Gothic A1 SemiBold.css">
    <link rel="preload" as="style" href="https://o.polychrome.network/fonts/ofl/Gothic A1 Bold.css">
    <link rel="preload" as="style" href="https://o.polychrome.network/fonts/lfs/Lab Grotesque.css">

    <link rel="stylesheet" href="https://o.polychrome.network/fonts/ofl/Fira Code.css">
    <link rel="stylesheet" href="https://o.polychrome.network/fonts/ofl/Gothic A1 Medium.css">
    <link rel="stylesheet" href="https://o.polychrome.network/fonts/ofl/Gothic A1 SemiBold.css">
    <link rel="stylesheet" href="https://o.polychrome.network/fonts/ofl/Gothic A1 Bold.css">
    <link rel="stylesheet" href="https://o.polychrome.network/fonts/lfs/Lab Grotesque.css">

    {{ $css := resources.Get "styles/main.scss" | toCSS | minify }}
    <style>{{ $css.Content | safeCSS }}</style>

    <script async defer data-website-id="4cdb476c-5519-4742-9fcb-639cd24fe89d" src="https://umami.sapbox.me/umami.js"></script>
  </head>

  <body>
