/*
  si.mpli.st v3
  main stylesheet
  by minku lee
*/

/* reset5 © 2011 opensource.736cs.com MIT */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}nav ul{list-style:none;}ol{list-style:decimal;}ul{list-style:disc;}ul ul{list-style:circle;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:underline;}del{text-decoration:line-through;}mark{background:none;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input[type=submit],input[type=button],button{margin:0!important;padding:0!important;}input,select,a img{vertical-align:middle;}

:root {
  --container-width: 800px;
  --container-top-bottom-margin: 30px;

  --primary-color: #4c4c4c;
  --content-color: #5f5f5f;
  --link-color: #888;

  --primary-font: "Whitney SSm A", "Whitney SSm B";

  --primary-font-weight: 400;
  --subtitle-font-weight: 400;
  --title-font-weight: 600;

  --main-title-font-size: 35px;
  --main-author-font-size: 12px;

  --index-item-font-size: 20px;
  --index-item-height: 45px;

  --uppercase-letter-spacing: 0.05em;

  /* Category Colors */
  --cat-color-dev: #3498db;
  --cat-color-geek: #2980b9;
  --cat-color-life: #f39c12;
  --cat-color-think: #1abc9c;
  --cat-color-review: #e74c3c;
  --cat-color-travel: #9b59b6;
}

body {
  font-family: var(--primary-font);
  font-weight: var(--primary-font-weight);
}

.container {
  position: relative;
  display: block;
  overflow: hidden;
  width: var(--container-width);
  margin: var(--container-top-bottom-margin) auto;
}

header {

  & h1 {
    font-size: var(--main-title-font-size);
    font-weight: var(--title-font-weight);
    letter-spacing: -0.02em;
    line-height: 2em;
  }

  & a {
    color: var(--primary-color);
    text-decoration: none;
  }

  & .author {
    font-size: var(--main-author-font-size);
    font-weight: var(--subtitle-font-weight);
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: var(--uppercase-letter-spacing);
  }

}

.category-dev {
  & .category { color: var(--cat-color-dev); }
  &:hover .title { color: var(--cat-color-dev); }
}

.category-geek {
  & .category { color: var(--cat-color-geek); }
  &:hover .title { color: var(--cat-color-geek); }
}

.category-life {
  & .category { color: var(--cat-color-life); }
  &:hover .title { color: var(--cat-color-life); }
}

.category-think {
  & .category { color: var(--cat-color-think); }
  &:hover .title { color: var(--cat-color-think); }
}

.category-review {
  & .category { color: var(--cat-color-review); }
  &:hover .title { color: var(--cat-color-review); }
}

.category-travel {
  & .category { color: var(--cat-color-travel); }
  &:hover .title { color: var(--cat-color-travel); }
}

#index {
  position: relative;
  display: block;
  margin: var(--container-top-bottom-margin) auto;

  & ul {
    list-style-type: none;
  }

  & li {
    display: block;
    padding: calc((var(--index-item-height) - var(--index-item-font-size)) / 2) 0;
  }

  & a {
    display: block;
    color: var(--content-color);
    text-decoration: none;
  }

  & .category {
    display: block;
    width: 100px;
    float: left;

    line-height: var(--index-item-font-size);
    font-size: calc(var(--index-item-font-size) * 0.6);
    font-family: var(--primary-font);
    text-transform: uppercase;
    letter-spacing: var(--uppercase-letter-spacing);
  }

  & .title {
    font-size: var(--index-item-font-size);
    transition: all .15s ease-out;
  }

  & .time {
    display: none;
  }
}

#pagination {
  & p {
    float: left;
    margin-right: 10px;
  }

  & p, & a {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: var(--uppercase-letter-spacing);
  }

  & a {
    color: var(--link-color);
    font-weight: 500;
    text-decoration: none;
  }

  & a:hover {
    color: var(--content-color);
  }
}
