<!DOCTYPE html>
<html lang="ko">

  <!--
    you can find the original repository of this site on github.
    https://github.com/premist/si.mpli.st
  -->

  <head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,user-scalable=no"/>

    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.name }}</title>
    {% endif %}

    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:url" content="{{ site.domain }}{{ page.url }}">

    {% if page.cover %}
      <meta property="og:image" content="{{ page.cover }}">
    {% endif %}

    {% if page.title %}
      <meta property="og:type" content="article">
      <meta property="og:title" content="{{ page.title }}">
      <meta property="article:author" content="https://www.facebook.com/premist.lee">

      {% if page.excerpt %}
        <meta property="og:description" content="{{ page.excerpt }}">
      {% endif %}

      {% if page.date %}
        <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
      {% endif %}

    {% else %}
      <meta property="og:type" content="website">
      <meta property="og:title" content="{{ site.name }}">
      <meta property="og:description" content="si.mpli.st by minku lee">
    {% endif %}

    <link rel="alternate" type="application/rss+xml" href="{{ site.domain }}/feed.xml" title="{{ site.name }}">
    <link rel="stylesheet" href="/assets/css/syntax.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7399694/6224752/css/fonts.css" />

    <script type="text/javascript">
      if (typeof console != "undefined")
        console.log("you can find the original repository of this site on github. https://github.com/premist/si.mpli.st");
    </script>
  </head>
  <body class="{{ page.type }} {% if page.category %}post-{{ page.category }}{% endif %}">
    <div class="container">
      {{ content }}
    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31538611-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
