<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
		
		<meta property="og:site_name" content="{{ site.name }}">
		{% if page.category %}
		<meta property="og:type" content="article">
		<meta property="og:title" content="{{ page.title }}">
		<meta property="og:url" content="{{ site.domain }}{{ page.url }}">
		{% if page.excerpt %}
		<meta property="og:description" content="{{ page.excerpt }}">
		{% endif %}
		{% else %}
		<meta property="og:type" content="website">
		<meta property="og:title" content="{{ site.name }}">
		<meta property="og:url" content="{{ site.domain }}">
		{% endif %}
		
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">

		<script type="text/javascript" src="//use.typekit.net/lid4aqt.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body class="{{ page.type }}" {% if page.category %}data-category="{{ page.category }}"{% endif %}>

        <div class="container">
			{{ content }}
        </div>

    </body>
</html>
